<html>
<body>

    <h1>Edit menu item</h1>

<form action='{{url_for('editMenuItem', restaurant_id=restaurant_id, 
                                            menu_id=i.id)}}', method='POST'>
    <input type='text' size='30' name='name' 
        placeholder='{{i.name}}'><br/>

    <input type='text' size='30' name='description' 
        placeholder='{{i.description}}'><br/>

    <input type='text' size='30' name='price' 
        placeholder='{{i.price}}'><br/>
        
    <input type='submit' size='30' value='Submit'>
    <a href='{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}'>
    Cancel
    </a>

</form>
</body>
</html>