<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>New menu item</h1>

<form action='{{url_for('newMenuItem', restaurant_id=restaurant_id)}}' method='POST'>
    <input type='text' size='30' name='name' placeholder='Name'><br/>
    <input type='text' size='30' name='description' placeholder='Description'><br/>
    <input type='text' size='30' name='price' placeholder='Price'><br/>
    <input type='submit' value='Create'>
    <a href='{{url_for('showMenu', restaurant_id=restaurant_id)}}'>Cancel</a>

</form>
</body>
</html>