{% extends "main.html" %}
{% block content %}
{% include "publicheader.html" %}
    <h1>{{restaurant.name}}</h1>

        <p>{% with messages = get_flashed_messages() %}
        {% if messages%}
        {% for message in messages %}
        <em><strong>{{message}}</strong></em>
        {% endfor %}
        {% endif %}
        {% endwith %}</p>

    {% for i in items %}
    <div>
        <p>
            <strong>{{i.name}}</strong><br/>
            {{i.description}}<br/>
            {{i.price}}<br/>      
        </p>

    </div>
    {% endfor %}

{% endblock %}